# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
.venv/

# IDE files
.vscode/
.idea/
*.vscode-workspace

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Environment variables
.env

# Database files
*.db

# Ignore migrations (uncomment if needed)
# /<app_name>/migrations/