<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Bluetooth Connect</title>
        <script type="text/javascript" src="{% static 'WebBluetooth/getConnection.js' %}"></script>
    </head>
    <body>
        <h1>Web Bluetooth Connect</h1>
        <button id="connectButton" onClick="connectDevice()">Connect to Bluetooth Device</button>
        <p>State: <span id="state"></span></p>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
    </body>
</html>
{% comment %} <style>
    .logout-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style> {% endcomment %}